.menu_section {
    width: 100%;
    background-color: #f6fafa;
    padding: 80px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading {
    color: #35B8BE;
    margin-bottom: 16px;
    font-family: Inter;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    text-align: center;

  }
  
  .heading_description {
    color: #546285;
    text-align: center;
    margin-bottom: 25px;
    max-width: 470px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.36px;
    text-align: center;

  }
  
  .heading_description a {
    color: #35B8BE;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.36px;
    text-align: center;
  }
  
  .meal_types {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
  }
  
  .meal_type {
    background: white;
    border: 1px solid #d5d5d5;
    padding: 16px 32px;
    border-radius: 6px;
    color: #222222;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;

  }
  
  .meal_type:hover {
    background: #35B8BE;
    color: white;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px 20px;
    margin-bottom: 48px;
    width: 100%;
  }
  .see_more_txt {
    background-color: #35B8BE;
    color: white;
    border: none;
    padding: 16px 16px;
    border-radius: 6px;
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;

  }
  
  

  .phone_tooltip {
    position: relative;
    cursor: pointer;
    color: #35B8BE;
    text-decoration: none;
  }
  
  .phone_tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
  }
  
  .phone_tooltip:hover::after {
    opacity: 1;
  }